body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.2rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 1.4rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'DM Sans', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 0.96rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 0.84rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sMSJCUrwT2 {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #ac0707;
}
.cid-sMSJCUrwT2 .mbr-section-subtitle {
  text-align: center;
}
.cid-sMSJCUrwT2 .mbr-text {
  text-align: center;
  color: #f3917a;
}
.cid-sMSK3XqAjf {
  background-color: #ac0707;
}
.cid-sMSK3XqAjf .text-wrapper {
  padding: 1rem;
}
@media (max-width: 991px) {
  .cid-sMSK3XqAjf .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSK3XqAjf .row {
  flex-direction: row-reverse;
}
.cid-sMSK3XqAjf img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sMSK3XqAjf .text-wrapper {
    padding: 2rem;
  }
}
.cid-sMS0wSfWx5 {
  padding-top: 4rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sMS0wSfWx5 .text-wrapper {
  padding: 1rem;
}
@media (max-width: 991px) {
  .cid-sMS0wSfWx5 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMS0wSfWx5 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sMS0wSfWx5 .text-wrapper {
    padding: 2rem;
  }
}
.cid-sMSIGj20t7 {
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSIGj20t7 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSIGj20t7 .row {
  flex-direction: row-reverse;
}
.cid-sMSIGj20t7 img {
  width: 100%;
}
.cid-sMSKnXNQU5 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSKnXNQU5 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSKnXNQU5 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sMSKnXNQU5 .text-wrapper {
    padding: 2rem;
  }
}
.cid-sMSKnXNQU5 .mbr-description {
  color: #ffffff;
}
.cid-sMSLzwwlKi {
  padding-top: 0rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSLzwwlKi .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSLzwwlKi .row {
  flex-direction: row-reverse;
}
.cid-sMSLzwwlKi img {
  width: 100%;
}
.cid-sMSM7sQAvS {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSM7sQAvS .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSM7sQAvS img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sMSM7sQAvS .text-wrapper {
    padding: 2rem;
  }
}
.cid-sN2irhGSRp {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sN2irhGSRp .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sN2irhGSRp .row {
  flex-direction: row-reverse;
}
.cid-sN2irhGSRp img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sN2irhGSRp .text-wrapper {
    padding: 2rem;
  }
}
.cid-sMSMPoikvU {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-sMSMPoikvU .text-wrapper {
  padding: 1rem;
}
@media (max-width: 991px) {
  .cid-sMSMPoikvU .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSMPoikvU img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sMSMPoikvU .text-wrapper {
    padding: 2rem;
  }
}
.cid-sMSLK9kvkS {
  background-color: #e6f542;
}
.cid-sMSLK9kvkS .text-wrapper {
  padding: 1rem;
}
@media (max-width: 991px) {
  .cid-sMSLK9kvkS .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSLK9kvkS .row {
  flex-direction: row-reverse;
}
.cid-sMSLK9kvkS img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sMSLK9kvkS .text-wrapper {
    padding: 2rem;
  }
}
.cid-sMSMhkX4sS {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
@media (max-width: 991px) {
  .cid-sMSMhkX4sS .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSMhkX4sS .row {
  flex-direction: row-reverse;
}
.cid-sMSMhkX4sS img {
  width: 100%;
}
.cid-sMSMhkX4sS .mbr-description {
  color: #ffffff;
}
.cid-sMSPeeuhS2 {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSPeeuhS2 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSPeeuhS2 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sMSPeeuhS2 .text-wrapper {
    padding: 2rem;
  }
}
.cid-sMT6yQPiZ9 {
  padding-top: 10rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMT6yQPiZ9 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMT6yQPiZ9 .row {
  flex-direction: row-reverse;
}
.cid-sMT6yQPiZ9 img {
  width: 100%;
}
.cid-sMS80pdDQK {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMS80pdDQK .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMS80pdDQK .row {
  flex-direction: row-reverse;
}
.cid-sMS80pdDQK img {
  width: 100%;
}
.cid-sMS8Aw7Qp3 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMS8Aw7Qp3 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMS8Aw7Qp3 .row {
  flex-direction: row-reverse;
}
.cid-sMS8Aw7Qp3 img {
  width: 100%;
}
.cid-sMS8AZN72Z {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMS8AZN72Z .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMS8AZN72Z .row {
  flex-direction: row-reverse;
}
.cid-sMS8AZN72Z img {
  width: 100%;
}
.cid-sMS8B3TWFv {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMS8B3TWFv .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMS8B3TWFv .row {
  flex-direction: row-reverse;
}
.cid-sMS8B3TWFv img {
  width: 100%;
}
.cid-sMSRWJd7NY {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSRWJd7NY .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSRWJd7NY .row {
  flex-direction: row-reverse;
}
.cid-sMSRWJd7NY img {
  width: 100%;
}
.cid-sMSRWJGjTn {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSRWJGjTn .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSRWJGjTn .row {
  flex-direction: row-reverse;
}
.cid-sMSRWJGjTn img {
  width: 100%;
}
.cid-sMSRWKbZcs {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSRWKbZcs .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSRWKbZcs .row {
  flex-direction: row-reverse;
}
.cid-sMSRWKbZcs img {
  width: 100%;
}
.cid-sMSRWKqZDd {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSRWKqZDd .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSRWKqZDd .row {
  flex-direction: row-reverse;
}
.cid-sMSRWKqZDd img {
  width: 100%;
}
.cid-sMSRWKqZDd .mbr-description {
  text-align: center;
}
.cid-sMSRZCVY2T {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSRZCVY2T .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSRZCVY2T .row {
  flex-direction: row-reverse;
}
.cid-sMSRZCVY2T img {
  width: 100%;
}
.cid-sMSRZDaesv {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSRZDaesv .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSRZDaesv .row {
  flex-direction: row-reverse;
}
.cid-sMSRZDaesv img {
  width: 100%;
}
.cid-sMSRZDmpIt {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSRZDmpIt .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSRZDmpIt .row {
  flex-direction: row-reverse;
}
.cid-sMSRZDmpIt img {
  width: 100%;
}
.cid-sMSQll6Yba {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSQll6Yba .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSQll6Yba .row {
  flex-direction: row-reverse;
}
.cid-sMSQll6Yba img {
  width: 100%;
}
.cid-sMSQm5Si3N {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSQm5Si3N .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSQm5Si3N .row {
  flex-direction: row-reverse;
}
.cid-sMSQm5Si3N img {
  width: 100%;
}
.cid-sMSQm9dmLW {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSQm9dmLW .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSQm9dmLW .row {
  flex-direction: row-reverse;
}
.cid-sMSQm9dmLW img {
  width: 100%;
}
.cid-sMSQmcKy9g {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSQmcKy9g .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSQmcKy9g .row {
  flex-direction: row-reverse;
}
.cid-sMSQmcKy9g img {
  width: 100%;
}
.cid-sMSRvSPeGp {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSRvSPeGp .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSRvSPeGp .row {
  flex-direction: row-reverse;
}
.cid-sMSRvSPeGp img {
  width: 100%;
}
.cid-sMSRvSPeGp .mbr-description {
  text-align: center;
}
.cid-sMSScrIa01 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSScrIa01 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSScrIa01 .row {
  flex-direction: row-reverse;
}
.cid-sMSScrIa01 img {
  width: 100%;
}
.cid-sMSScrWPye {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSScrWPye .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSScrWPye .row {
  flex-direction: row-reverse;
}
.cid-sMSScrWPye img {
  width: 100%;
}
.cid-sMSScs6vpu {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSScs6vpu .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSScs6vpu .row {
  flex-direction: row-reverse;
}
.cid-sMSScs6vpu img {
  width: 100%;
}
.cid-sMSScsgkfw {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSScsgkfw .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSScsgkfw .row {
  flex-direction: row-reverse;
}
.cid-sMSScsgkfw img {
  width: 100%;
}
.cid-sMSScssE1g {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSScssE1g .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSScssE1g .row {
  flex-direction: row-reverse;
}
.cid-sMSScssE1g img {
  width: 100%;
}
.cid-sMSScssE1g .mbr-description {
  text-align: center;
}
.cid-sMSU4p9tnB {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sMSU4p9tnB img,
.cid-sMSU4p9tnB .item-img {
  width: 100%;
}
.cid-sMSU4p9tnB .item:focus,
.cid-sMSU4p9tnB span:focus {
  outline: none;
}
.cid-sMSU4p9tnB .item {
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
}
.cid-sMSU4p9tnB .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sMSU4p9tnB .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sMSU4p9tnB .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sMSU4p9tnB .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sMSU4p9tnB .mbr-section-title {
  color: #232323;
}
.cid-sMSWkzbgVB {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSWkzbgVB .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSWkzbgVB .row {
  flex-direction: row-reverse;
}
.cid-sMSWkzbgVB img {
  width: 100%;
}
.cid-sMSWkzvbu3 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSWkzvbu3 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSWkzvbu3 .row {
  flex-direction: row-reverse;
}
.cid-sMSWkzvbu3 img {
  width: 100%;
}
.cid-sMSWkzI9UH {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSWkzI9UH .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSWkzI9UH .row {
  flex-direction: row-reverse;
}
.cid-sMSWkzI9UH img {
  width: 100%;
}
.cid-sMSWYddi6I {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSWYddi6I .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSWYddi6I .row {
  flex-direction: row-reverse;
}
.cid-sMSWYddi6I img {
  width: 100%;
}
.cid-sMSWYdGNhc {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSWYdGNhc .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSWYdGNhc .row {
  flex-direction: row-reverse;
}
.cid-sMSWYdGNhc img {
  width: 100%;
}
.cid-sMSXzX4wOP {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSXzX4wOP .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSXzX4wOP .row {
  flex-direction: row-reverse;
}
.cid-sMSXzX4wOP img {
  width: 100%;
}
.cid-sMSWYdVux7 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSWYdVux7 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSWYdVux7 .row {
  flex-direction: row-reverse;
}
.cid-sMSWYdVux7 img {
  width: 100%;
}
.cid-sMSXa1C5Nb {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSXa1C5Nb .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSXa1C5Nb .row {
  flex-direction: row-reverse;
}
.cid-sMSXa1C5Nb img {
  width: 100%;
}
.cid-sMSXa1SNQ0 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSXa1SNQ0 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSXa1SNQ0 .row {
  flex-direction: row-reverse;
}
.cid-sMSXa1SNQ0 img {
  width: 100%;
}
.cid-sMSXa25a4w {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSXa25a4w .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSXa25a4w .row {
  flex-direction: row-reverse;
}
.cid-sMSXa25a4w img {
  width: 100%;
}
.cid-sMSYCbJYXB {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSYCbJYXB .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSYCbJYXB .row {
  flex-direction: row-reverse;
}
.cid-sMSYCbJYXB img {
  width: 100%;
}
.cid-sMSYCcah6C {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSYCcah6C .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSYCcah6C .row {
  flex-direction: row-reverse;
}
.cid-sMSYCcah6C img {
  width: 100%;
}
.cid-sMSYCcsYTx {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSYCcsYTx .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSYCcsYTx .row {
  flex-direction: row-reverse;
}
.cid-sMSYCcsYTx img {
  width: 100%;
}
.cid-sMSYWDbi2F {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSYWDbi2F .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSYWDbi2F .row {
  flex-direction: row-reverse;
}
.cid-sMSYWDbi2F img {
  width: 100%;
}
.cid-sMSZ3nKq44 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sMSZ3nKq44 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sMSZ3nKq44 .row {
  flex-direction: row-reverse;
}
.cid-sMSZ3nKq44 img {
  width: 100%;
}
.cid-sMXaUQMtf5 {
  padding-top: 10rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sMXaUQMtf5 .mbr-text {
  text-align: center;
}
.cid-sMXcuqqUPz {
  padding-top: 45px;
  padding-bottom: 120px;
  background-color: #ffffff;
}
.cid-sMXcuqqUPz .media-container-row {
  justify-content: space-between;
}
.cid-sMXcuqqUPz .text-content {
  max-width: 50%;
}
@media (max-width: 768px) {
  .cid-sMXcuqqUPz .text-content {
    max-width: none;
  }
}
.cid-sMXcuqqUPz .mbr-iconfont-social {
  margin: 0.5rem;
  font-size: 32px;
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #000000;
  border: 2px solid #000000;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.cid-sMXcuqqUPz .mbr-iconfont-social:before {
  padding: 0.6rem;
}
.cid-sMXcuqqUPz .mbr-iconfont-social:hover {
  background-color: #000000;
  color: #ffffff;
}
@media (max-width: 768px) {
  .cid-sMXcuqqUPz .icons {
    justify-content: center !important;
  }
  .cid-sMXcuqqUPz .text-content * {
    text-align: center;
  }
}
.cid-sMXcuqqUPz P {
  text-align: right;
}
.cid-sN2jCJgkYY {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sN2jCJgkYY img,
.cid-sN2jCJgkYY .item-img {
  width: 100%;
}
.cid-sN2jCJgkYY .item:focus,
.cid-sN2jCJgkYY span:focus {
  outline: none;
}
.cid-sN2jCJgkYY .item {
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
}
.cid-sN2jCJgkYY .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sN2jCJgkYY .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sN2jCJgkYY .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sN2jCJgkYY .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sN2jCJgkYY .mbr-section-title {
  color: #232323;
}
.cid-sN2jXgGjEy {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sN2jXgGjEy img,
.cid-sN2jXgGjEy .item-img {
  width: 100%;
}
.cid-sN2jXgGjEy .item:focus,
.cid-sN2jXgGjEy span:focus {
  outline: none;
}
.cid-sN2jXgGjEy .item {
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
}
.cid-sN2jXgGjEy .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sN2jXgGjEy .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sN2jXgGjEy .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sN2jXgGjEy .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sN2jXgGjEy .mbr-section-title {
  color: #232323;
}
.cid-sN2kjKkcGp {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sN2kjKkcGp .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sN2kjKkcGp .row {
  flex-direction: row-reverse;
}
.cid-sN2kjKkcGp img {
  width: 100%;
}
